body {
  background-color: #e6e6e6;
  height: auto;
}

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

.row {
  margin-right: auto;
  margin-left: auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #bfbfbf;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
  color: #d9d9d9;
  background-color: #3e3f3a;
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
  border-radius: 5px;
}
.jumbotron p.lead {
  margin-top: 40px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.marketing  .row-dashboard, .row-center{
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
}

.marketing .row-white {
  background-color: white;
}

.sorting-hover:hover {
  color : #337ab7;
  cursor: pointer;
}

.validation-messages {
  font-size: 13px;
  color: rgb(221,44,0);
  margin: 2px 0 0 0; 
}

.input {
  margin: 0;
}

div.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.87);
}

.nav-tabs > li > a {
  font-weight: bold;
}

.GET {
  background-color: #31708F;
}
.PUT {
  background-color: #FBA60A;
}
.DELETE {
  background-color: #D2381F;
}
.POST {
  background-color: #3C8849;
}

.search-fields {
  margin-top: 10px; 
}

.search-fields label{
  margin-top: 5px;
}

ul.nav-tabs {
  margin-top: 20px; 
}

p.lead {
  margin-top: 30px;
  margin-bottom: 5px;
}

.table {
  background-color: white;
  width: 100%;
}

.table thead, .table tbody {
  display: block;
  width: 100%;
}

.table tbody {
  max-height: 420px;
  overflow-y: scroll; 
}

.table td, .table th {
  width: 100%;
  text-align: center;
}

.table-bordered > thead > tr > th{
  border-bottom-width: 1px;
}

.table .ip-col {
  width: 13%;
  word-break: break-all;
}
.table .uuid-col {
  width: 17%;
  word-break: break-all;
}
.table .request-col {
  width: 9%;
}
.table .url-col {
  width: 23%;
  word-break: break-all;
}
.table .date-col {
  width: 12%;
}
.table .status-col {
  width: 15%;
}
.table .duration-col {
  width: 9%;
}

.text-left {
  text-align: left;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 940px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .navbar {
    border-radius: 0; 
}
}
